<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NY Times Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/saved">Saved Articles</a>
      <a class="btn btn-danger scrape nav-item nav-link">Find New Articles</a>
    </div>
  </div>
</nav>

<div class="jumbotron savedJumbo text-center">
    <div class="header">
        <h1>New York Times</h1>
        <h2>Mongo Scraper</h2>
        <button class="btn-large scrape btn-primary">SCRAPE NEW ARTICLES</button>
    </div>
</div>

<div class="container-fluid articleContainer"></div>

<script src="../public/javascript/saved.js"></script>